In [1]:
import pandas as pd
from fbprophet import Prophet

In [2]:
df = pd.read_csv('calendar_borough.csv', error_bad_lines = False)
df

       Unnamed: 0        date  borough_id  room_typeid       price
0               0  2017-01-01           1            1  133.285714
1               1  2017-01-01           1            2   67.000000
2               2  2017-01-01           1            4  130.000000
3               3  2017-01-01           2            1  219.255682
4               4  2017-01-01           2            2  115.936170
...           ...         ...         ...          ...         ...
31007       31007  2021-12-31           4            3  188.428571
31008       31008  2021-12-31           4            4   83.301370
31009       31009  2021-12-31           5            1  183.301587
31010       31010  2021-12-31           5            2   72.560000
31011       31011  2021-12-31           5            4   98.000000

[31012 rows x 5 columns]

In [3]:
df=df[['date', 'borough_id', 'room_typeid', 'price']]
df

             date  borough_id  room_typeid       price
0      2017-01-01           1            1  133.285714
1      2017-01-01           1            2   67.000000
2      2017-01-01           1            4  130.000000
3      2017-01-01           2            1  219.255682
4      2017-01-01           2            2  115.936170
...           ...         ...          ...         ...
31007  2021-12-31           4            3  188.428571
31008  2021-12-31           4            4   83.301370
31009  2021-12-31           5            1  183.301587
31010  2021-12-31           5            2   72.560000
31011  2021-12-31           5            4   98.000000

[31012 rows x 4 columns]

In [4]:
df['combined'] = df.borough_id.astype(str) + df.room_typeid.astype(str)

In [5]:
df = df.rename(columns={"date": "ds", "price": "y"})

In [6]:
df=df[['ds', 'combined', 'y']]
df

               ds combined           y
0      2017-01-01       11  133.285714
1      2017-01-01       12   67.000000
2      2017-01-01       14  130.000000
3      2017-01-01       21  219.255682
4      2017-01-01       22  115.936170
...           ...      ...         ...
31007  2021-12-31       43  188.428571
31008  2021-12-31       44   83.301370
31009  2021-12-31       51  183.301587
31010  2021-12-31       52   72.560000
31011  2021-12-31       54   98.000000

[31012 rows x 3 columns]

In [7]:
grouped = df.groupby('combined')
final = pd.DataFrame()
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet()
    m.fit(group)
    future = m.make_future_dataframe(periods=365)
    forecast = m.predict(future)    
    forecast = forecast.rename(columns={'yhat': 'yhat_'+g})
    final = pd.merge(final, forecast.set_index('ds'), how='outer', left_index=True, right_index=True)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [8]:
final

               trend_x  yhat_lower_x  ...  multiplicative_terms_upper_y     yhat_54
ds                                    ...
2017-01-01  103.442259    100.416379  ...                           NaN         NaN
2017-01-02  103.475662     99.680352  ...                           NaN         NaN
2017-01-03  103.509064     98.168420  ...                           NaN         NaN
2017-01-04  103.542467     97.486704  ...                           NaN         NaN
2017-01-05  103.575869     96.505742  ...                           NaN         NaN
...                ...           ...  ...                           ...         ...
2022-12-27  169.877098    157.567161  ...                           0.0  112.363629
2022-12-28  169.900076    157.420421  ...                           0.0  112.277048
2022-12-29  169.923055    157.005317  ...                           0.0  112.053459
2022-12-30  169.946033    162.373852  ...                           0.0  126.866672
2022-12-31  169.969012    160.220692  ...                           0.0  126.785113

[2191 rows x 324 columns]

In [9]:
predictions = final[['yhat_' + g for g in grouped.groups.keys()]]

In [10]:
predictions.reset_index(inplace=True)
predictions

             ds     yhat_11    yhat_12  ...     yhat_51    yhat_52     yhat_54
0    2017-01-01  108.558315  57.766023  ...  139.406519  67.918359         NaN
1    2017-01-02  107.680732  57.321124  ...  138.818360  67.383342         NaN
2    2017-01-03  106.743167  56.976602  ...  137.742513  66.965283         NaN
3    2017-01-04  105.569936  56.642997  ...  136.531757  66.520501         NaN
4    2017-01-05  104.729551  56.293220  ...  135.409274  66.045691         NaN
...         ...         ...        ...  ...         ...        ...         ...
2186 2022-12-27  176.248684  60.849185  ...  189.598162  74.567513  112.363629
2187 2022-12-28  176.081310  60.639573  ...  189.681584  74.414164  112.277048
2188 2022-12-29  176.180137  60.382492  ...  189.816309  74.209755  112.053459
2189 2022-12-30  181.131370  61.955201  ...  194.586888  76.755172  126.866672
2190 2022-12-31  180.889806  61.637971  ...  194.416774  76.579746  126.785113

[2191 rows x 19 columns]

In [11]:
predictions =predictions.melt(['ds'], var_name='combined', value_name='value')
predictions

              ds combined       value
0     2017-01-01  yhat_11  108.558315
1     2017-01-02  yhat_11  107.680732
2     2017-01-03  yhat_11  106.743167
3     2017-01-04  yhat_11  105.569936
4     2017-01-05  yhat_11  104.729551
...          ...      ...         ...
39433 2022-12-27  yhat_54  112.363629
39434 2022-12-28  yhat_54  112.277048
39435 2022-12-29  yhat_54  112.053459
39436 2022-12-30  yhat_54  126.866672
39437 2022-12-31  yhat_54  126.785113

[39438 rows x 3 columns]

In [12]:
predictions= predictions.replace('yhat_', '', regex=True)
predictions

              ds combined       value
0     2017-01-01       11  108.558315
1     2017-01-02       11  107.680732
2     2017-01-03       11  106.743167
3     2017-01-04       11  105.569936
4     2017-01-05       11  104.729551
...          ...      ...         ...
39433 2022-12-27       54  112.363629
39434 2022-12-28       54  112.277048
39435 2022-12-29       54  112.053459
39436 2022-12-30       54  126.866672
39437 2022-12-31       54  126.785113

[39438 rows x 3 columns]

In [13]:
predictions['borough_id'] = predictions['combined'].str[0]
predictions['room_typeid']= predictions['combined'].str[-1:]

In [30]:
predictions = predictions[['ds','borough_id', 'room_typeid', 'value']]
predictions

              ds borough_id room_typeid       value
0     2017-01-01          1           1  108.558315
1     2017-01-02          1           1  107.680732
2     2017-01-03          1           1  106.743167
3     2017-01-04          1           1  105.569936
4     2017-01-05          1           1  104.729551
...          ...        ...         ...         ...
39433 2022-12-27          5           4  112.363629
39434 2022-12-28          5           4  112.277048
39435 2022-12-29          5           4  112.053459
39436 2022-12-30          5           4  126.866672
39437 2022-12-31          5           4  126.785113

[39438 rows x 4 columns]

In [ ]:
predictions.to_csv("predictions.csv")