In [9]:
import pandas as pd
from fbprophet import Prophet

In [10]:
df = pd.read_csv('calendar_borough.csv', error_bad_lines = False)
df

       Unnamed: 0        date  borough_id  room_typeid       price
0               0  2017-01-01           1            1  133.285714
1               1  2017-01-01           1            2   67.000000
2               2  2017-01-01           1            4  130.000000
3               3  2017-01-01           2            1  219.255682
4               4  2017-01-01           2            2  115.936170
...           ...         ...         ...          ...         ...
31007       31007  2021-12-31           4            3  188.428571
31008       31008  2021-12-31           4            4   83.301370
31009       31009  2021-12-31           5            1  183.301587
31010       31010  2021-12-31           5            2   72.560000
31011       31011  2021-12-31           5            4   98.000000

[31012 rows x 5 columns]

In [11]:
df=df[['date', 'borough_id', 'room_typeid', 'price']]
df

             date  borough_id  room_typeid       price
0      2017-01-01           1            1  133.285714
1      2017-01-01           1            2   67.000000
2      2017-01-01           1            4  130.000000
3      2017-01-01           2            1  219.255682
4      2017-01-01           2            2  115.936170
...           ...         ...          ...         ...
31007  2021-12-31           4            3  188.428571
31008  2021-12-31           4            4   83.301370
31009  2021-12-31           5            1  183.301587
31010  2021-12-31           5            2   72.560000
31011  2021-12-31           5            4   98.000000

[31012 rows x 4 columns]

In [12]:
df['combined'] = df.borough_id.astype(str) + df.room_typeid.astype(str)

In [13]:
df = df.rename(columns={"date": "ds", "price": "y"})

In [14]:
df=df[['ds', 'combined', 'y']]
df

               ds combined           y
0      2017-01-01       11  133.285714
1      2017-01-01       12   67.000000
2      2017-01-01       14  130.000000
3      2017-01-01       21  219.255682
4      2017-01-01       22  115.936170
...           ...      ...         ...
31007  2021-12-31       43  188.428571
31008  2021-12-31       44   83.301370
31009  2021-12-31       51  183.301587
31010  2021-12-31       52   72.560000
31011  2021-12-31       54   98.000000

[31012 rows x 3 columns]

In [16]:
grouped = df.groupby('combined')
final = pd.DataFrame()
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet()
    m.fit(group)
    future = m.make_future_dataframe(periods=730)
    forecast = m.predict(future)    
    forecast = forecast.rename(columns={'yhat': 'yhat_'+g})
    final = pd.merge(final, forecast.set_index('ds'), how='outer', left_index=True, right_index=True)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [17]:
final

               trend_x  yhat_lower_x  ...  multiplicative_terms_upper_y     yhat_54
ds                                    ...
2017-01-01  103.442259    100.500708  ...                           NaN         NaN
2017-01-02  103.475662     99.596635  ...                           NaN         NaN
2017-01-03  103.509064     98.905969  ...                           NaN         NaN
2017-01-04  103.542467     97.961174  ...                           NaN         NaN
2017-01-05  103.575869     96.523252  ...                           NaN         NaN
...                ...           ...  ...                           ...         ...
2023-12-27  178.264285    133.107644  ...                           0.0  131.047308
2023-12-28  178.287264    132.050815  ...                           0.0  130.834997
2023-12-29  178.310242    137.043722  ...                           0.0  145.655680
2023-12-30  178.333221    138.486808  ...                           0.0  145.577702
2023-12-31  178.356200    131.427298  ...                           0.0  130.265634

[2556 rows x 324 columns]

In [18]:
predictions = final[['yhat_' + g for g in grouped.groups.keys()]]

In [19]:
predictions.reset_index(inplace=True)
predictions

             ds     yhat_11    yhat_12  ...     yhat_51    yhat_52     yhat_54
0    2017-01-01  108.558315  57.766023  ...  139.406519  67.918359         NaN
1    2017-01-02  107.680732  57.321124  ...  138.818360  67.383342         NaN
2    2017-01-03  106.743167  56.976602  ...  137.742513  66.965283         NaN
3    2017-01-04  105.569936  56.642997  ...  136.531757  66.520501         NaN
4    2017-01-05  104.729551  56.293220  ...  135.409274  66.045691         NaN
...         ...         ...        ...  ...         ...        ...         ...
2551 2023-12-27  184.350047  55.341200  ...  203.310349  75.280938  131.047308
2552 2023-12-28  184.638640  55.131422  ...  203.649701  75.118630  130.834997
2553 2023-12-29  189.780432  56.748414  ...  208.633515  77.705158  145.655680
2554 2023-12-30  189.726425  56.471608  ...  208.680856  77.568985  145.577702
2555 2023-12-31  184.446992  54.352270  ...  203.509271  74.850750  130.265634

[2556 rows x 19 columns]

In [20]:
predictions =predictions.melt(['ds'], var_name='combined', value_name='value')
predictions

              ds combined       value
0     2017-01-01  yhat_11  108.558315
1     2017-01-02  yhat_11  107.680732
2     2017-01-03  yhat_11  106.743167
3     2017-01-04  yhat_11  105.569936
4     2017-01-05  yhat_11  104.729551
...          ...      ...         ...
46003 2023-12-27  yhat_54  131.047308
46004 2023-12-28  yhat_54  130.834997
46005 2023-12-29  yhat_54  145.655680
46006 2023-12-30  yhat_54  145.577702
46007 2023-12-31  yhat_54  130.265634

[46008 rows x 3 columns]

In [21]:
predictions= predictions.replace('yhat_', '', regex=True)
predictions

              ds combined       value
0     2017-01-01       11  108.558315
1     2017-01-02       11  107.680732
2     2017-01-03       11  106.743167
3     2017-01-04       11  105.569936
4     2017-01-05       11  104.729551
...          ...      ...         ...
46003 2023-12-27       54  131.047308
46004 2023-12-28       54  130.834997
46005 2023-12-29       54  145.655680
46006 2023-12-30       54  145.577702
46007 2023-12-31       54  130.265634

[46008 rows x 3 columns]

In [22]:
predictions['borough_id'] = predictions['combined'].str[0]
predictions['room_typeid']= predictions['combined'].str[-1:]

In [23]:
predictions = predictions[['ds','borough_id', 'room_typeid', 'value']]
predictions

              ds borough_id room_typeid       value
0     2017-01-01          1           1  108.558315
1     2017-01-02          1           1  107.680732
2     2017-01-03          1           1  106.743167
3     2017-01-04          1           1  105.569936
4     2017-01-05          1           1  104.729551
...          ...        ...         ...         ...
46003 2023-12-27          5           4  131.047308
46004 2023-12-28          5           4  130.834997
46005 2023-12-29          5           4  145.655680
46006 2023-12-30          5           4  145.577702
46007 2023-12-31          5           4  130.265634

[46008 rows x 4 columns]

In [24]:
predictions = predictions.dropna()
predictions

              ds borough_id room_typeid       value
0     2017-01-01          1           1  108.558315
1     2017-01-02          1           1  107.680732
2     2017-01-03          1           1  106.743167
3     2017-01-04          1           1  105.569936
4     2017-01-05          1           1  104.729551
...          ...        ...         ...         ...
46003 2023-12-27          5           4  131.047308
46004 2023-12-28          5           4  130.834997
46005 2023-12-29          5           4  145.655680
46006 2023-12-30          5           4  145.577702
46007 2023-12-31          5           4  130.265634

[44152 rows x 4 columns]

In [25]:
predictions.to_csv("predictions.csv")